:root {
  --blue: #0e1133;
  --red: #ff3e66;
  --mute-text: #888;
  --white: #fff;
  --transition: 0.3s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--blue);
  background-color: #eef1f6;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input {
  border: none;
  outline: none;
}
input:focus {
  border: none;
  outline: none;
}
button {
  background-color: var(--red);
  padding: 16px 25px;
  border-radius: 30px;
  font-weight: 900;
  border: none;
  color: var(--white);
  cursor: pointer;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gap_10 {
  gap: 10px;
}
.gap_30 {
  gap: 30px;
}
.gap_80 {
  gap: 80px;
}

.heading h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.heading p {
  color: var(--mute-text);
  font-size: 18px;
}
@media (max-width: 768px) {
  .heading h1 {
    font-size: 2rem;
  }
  .heading p {
    font-size: 16px;
  }
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* -------Header */
header {
  padding: 20px 0px;
  background-color: #eef1f6;
  position: sticky;
  top: 0;
}

.logo {
  margin-right: 80px;
}
header nav ul li:not(:last-child) {
  margin-right: 20px;
}
header nav ul li a {
  color: var(--blue);
  font-size: 20px;
}

@media (max-width: 991px) {
  header nav {
    display: none;
  }
}
@media (max-width: 375px) {
  .btn button {
    padding: 10px 15px;
  }
}
/* ------- HERO */
.hero {
  max-width: 100vw;
  height: calc(100vh - 87px);
  position: relative;
  /* padding-left: 100px; */
  background-color: #eef1f6;
}

.content h1 {
  font-size: 4rem;
  max-width: 540px;
  font-weight: 400;
  margin-bottom: 15px;
}
.content h1 span {
  font-weight: 900;
}
.content p {
  font-weight: 500;
  margin-bottom: 30px;
}
.content .input_form {
  position: absolute;
  width: 350px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: -3px 0px 1px var(--red);
}
.content .input_form span:first-child {
  left: 15px;
  position: absolute;
}
.content .input_form span:last-child {
  position: absolute;
  right: 15px;
}
.content .input_form input {
  width: 100%;
  padding: 20px;
}
.input_form input::placeholder {
  padding-left: 25px;
}

.hero_image img {
  width: 600px;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (max-width: 1200px) {
  .hero_image img {
    width: 500px;
  }
}
@media (max-width: 991px) {
  .hero_image img {
    width: 400px;
  }
}

@media (max-width: 767px) {
  .hero {
    align-items: flex-start;
    padding-top: 10px;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .hero_image img {
    width: 300px;
  }
}
@media (max-width: 540px) {
  .hero {
    height: 100%;
    padding: 80px 0;
  }
  .hero_image img {
    display: none;
  }
  .content .input_form {
    width: 85%;
  }
}

.content .feedback {
  margin-top: 7rem;
}
.content .feed div:first-child {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}
.content .feed div:last-child {
  font-size: 12px;
}
.feedback img {
  height: 30px;
  margin-right: 10px;
}

/* --------Work */
.work {
  background-color: white;
  padding-top: 30px;
  align-items: flex-end;
}
.work .titles {
  margin: 50px 0px;
}
.work .links button {
  background: var(--white);
  color: black;
  border: 2px solid #ddd;
  font-size: 14px;
  transition: var(--transition);
}

.work .links button:hover {
  background: var(--red);
  color: var(--white);
  border-color: var(--red);
  transition: var(--transition);
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding-bottom: 40px;
}

.work .box {
  padding: 50px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.work .box .icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2facfc;
  color: var(--white);
  border-radius: 50%;
  margin-bottom: 25px;
}
.work .box .icon.red {
  background-color: var(--red);
}
.work .box .icon.blue {
  background-color: #3679ff;
}
.work .box .icon.green {
  background-color: #3bb094;
}
.work .box .icon.orange {
  background-color: #f67842;
}

.work .box h3 {
  margin-bottom: 12px;
}
.work .box p {
  color: var(--mute-text);
  /* max-width: 250px; */
  line-height: 22px;
  margin-bottom: 25px;
}
.work .box a {
  font-size: 14px;
  color: var(--mute-text);
}
.work .box a span i {
  margin-left: 5px;
}
@media (max-width: 768px) {
  .work .titles {
    text-align: center;
    flex-direction: column;
    gap: 40px;
  }
  .work .box {
    text-align: center;
    padding: 10px 10px;
  }
  .work .box .icon {
    margin: 30px auto;
  }
}
/* ------Marketing */
.marketing {
  margin: 80px;
}
.marketing .container {
  background-color: #eef1f6;
}
.marketing .container_2 {
  display: flex;
  max-height: 450px;
  overflow: hidden;
}
.marketing .content {
  margin: auto;
}

.marketing .content span {
  margin-bottom: 20px;
  display: inline-block;
  color: var(--red);
  font-size: 18px;
  font-weight: 500;
}
.marketing .content h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.marketing .content p {
  color: var(--mute-text);
  font-weight: normal;
}

.marketing .content .box_list {
  display: flex;
  gap: 10px;
  width: 50%;
  padding: 0 30px 10px 0;
}
.box_list .icon {
  color: green;
  font-size: 25px;
  margin-right: 10px;
}
.box_list .text {
  padding: 0 25px 0 0;
}
.box_list .text h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
@media (max-width: 991px) {
  .marketing img {
    display: none;
  }
}
@media (max-width: 768px) {
  .marketing {
    margin: 40px auto;
  }
  .marketing .container_2 {
    height: 100%;
    padding: 0 15px;
  }
  .marketing .content h2 {
    font-size: 2rem;
  }
  .marketing .content {
    margin: 0;
  }
  .marketing .content > span,
  .marketing .content > h2,
  .marketing .content > p {
    text-align: center;
  }
  .marketing .list.flex-center {
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 40px;
  }
  .marketing .content .box_list {
    width: 100%;
  }
}

/* ------- features*/
.features_2 {
  background-color: var(--blue);
  color: var(--white);
  padding: 60px 0;
}
.features_2 .heading {
  padding: 0 0 60px;
  text-align: center;
}
.features_2 .content {
  padding: 20px;
}
.features_2 .box_list {
  display: flex;
  border: 1px solid var(--mute-text);
  padding: 20px 20px 10px 20px;
  border-radius: 6px;
  margin-bottom: 20px;
}
.features_2 .box_list h3 {
  margin-bottom: 8px;
}
.features_2 .box_list p {
  color: var(--mute-text);
  font-weight: normal;
}
.box_list .icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.box_list .icon.red {
  background-color: var(--red);
  box-shadow: 0 0 0 5px rgba(255, 62, 102, 0.3);
}
.box_list .icon.blue {
  background-color: rgb(46, 172, 252);
  box-shadow: 0 0 0 5px rgba(46, 172, 252, 0.3);
}
.box_list .icon.green {
  background-color: rgb(51, 201, 86);
  box-shadow: 0 0 0 5px rgba(51, 201, 86, 0.3);
}
@media (max-width: 991px) {
  .features_2 .features_content {
    flex-direction: column;
    gap: 20px;
  }
  .features_2 .features_content .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .features_2 .features_content .image img {
    width: 80%;
  }
}
/* ----Details */
.details {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 40px;
  background-color: var(--white);
}
.numbers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  margin: 50px 0;
  row-gap: 30px;
}
.numbers .numbers_box {
  padding: 35px;
  background-color: var(--white);
  text-align: center;
  box-shadow: 0 0 10px #ddd;
  border-radius: 12px;
}
.numbers .numbers_box img {
  margin-bottom: 5px;
}
.numbers .numbers_box h1 {
  font-weight: bold;
  margin-bottom: 5px;
}
.numbers .numbers_box p {
  color: var(--mute-text);
  font-size: 12px;
  font-weight: 500;
}
.videos {
  margin-bottom: 40px;
}

.videos {
  margin-top: 90px;
  align-items: flex-start;
}

.details .titles {
  align-items: flex-start;
}
.videos .video {
  width: 60%;
}
.video img {
  margin-bottom: 25px;
  width: 100%;
  height: 350px;
}
.video .how {
  padding-left: 50px;
}
.video .heading {
  margin-bottom: 20px;
}
.video .heading h2 {
  font-weight: bold;
  margin-bottom: 10px;
}
.video .how button {
  background-color: transparent;
  border: 2px solid #ddd;
  font-weight: 700;
  font-size: 14px;
  color: #00000096;
}

.videos .slides {
  width: 30%;
  max-width: 250px;
}
.videos .slides img {
  margin-bottom: 25px;
}

.videos .slides .arrows {
  display: flex;
  justify-content: end;
}
.videos .slides .arrows div {
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
  color: #888;
}

@media (max-width: 991px) {
  .videos {
    flex-direction: column;
  }
  .videos .video {
    width: 100%;
  }
  .video img {
    width: 100%;
    height: 100%;
  }
  .video .how {
    padding: 30px 0;
  }
  .videos .slides {
    width: 100%;
    max-width: 100%;
  }
  .videos .slides img {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .numbers .numbers_box {
    width: 85%;
  }
  .videos .arrows {
    display: none;
  }
}
/* --------Download */
.download {
  padding: 80px 0;
}
.download .content {
  margin-bottom: 50px;
}
.download .content span {
  margin-bottom: 15px;
  display: inline-block;
  color: var(--red);
  font-size: 14px;
  font-weight: 500;
}
.download .content h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.download .content p {
  color: var(--mute-text);
  font-weight: normal;
  font-size: 17px;
}

.download .system {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.download .system .box {
  padding: 8px 20px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  font-size: 14px;
  border: 2px solid var(--blue);
  cursor: pointer;
}
.download .system .box i {
  font-size: 30px;
}
.download .system .box:first-child span {
  font-weight: 600;
}
.download .system .box span span {
  font-size: 20px;
}

.download .system .box:last-child {
  background-color: var(--white);
  color: var(--blue);
}
.download .system .box:last-child:hover {
  background-color: var(--blue);
  color: var(--white);
  transition: var(--transition);
}
.download .system .box:first-child:hover {
  background-color: var(--white);
  color: var(--blue);
  transition: var(--transition);
}
@media (max-width: 768px) {
  .download .system .box {
    padding: 8px 10px;
    font-size: 10px;
  }
  .download .content h2 {
    font-size: 2rem;
  }
}

/* --------pricing */
.pricing {
  padding-top: 80px;
  background-color: var(--white);
}
.pricing .heading {
  text-align: center;
  margin-bottom: 30px;
}
.pricing .heading h2 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 3rem;
}
.btns {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

/* ---------------------- */
.toggle-check {
  -webkit-appearance: none;
  appearance: none;
}

.toggle-switch {
  width: 200px;
  height: 42px;
  position: relative;
  transition: all.3s;
  cursor: pointer;
  border: 3px solid #ddd;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
}
.toggle-switch::before,
.toggle-switch::after {
  font-weight: 600;
  width: fit-content;
  padding: 2px 15px;
  height: 28px;
  border-radius: 45px;
  position: absolute;
  top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.toggle-switch::before {
  content: "Monthly";
  background-color: var(--red);
  color: var(--white);
  left: 2px;
}
.toggle-switch::after {
  content: "Yearly";
  color: var(--mute-text);
  right: 2px;
}

.toggle-check:checked + .toggle-switch::before {
  content: "Yearly";
  left: auto;
  right: 2px;
  background-color: var(--red);
}
.toggle-check:checked + .toggle-switch::after {
  content: "Monthly";
  right: auto;
  left: 2px;
}
/* ---------------------- */
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding-bottom: 3rem;
}
.pricing .plans .plan {
  position: relative;
  padding: 35px;
  background-color: var(--white);
  text-align: left;
  box-shadow: 0 0 8px #ddd;
  border-radius: 12px;
}
.pricing .plans .plan .popular {
  position: absolute;
  right: 0;
  top: 24px;
  background: dodgerblue;
  padding: 5px 15px;
  font-size: 17px;
  color: var(--white);
  border-radius: 12px 0 0 12px;
  font-weight: 500;
  -webkit-border-radius: 12px 0 0 12px;
  -moz-border-radius: 12px 0 0 12px;
  -ms-border-radius: 12px 0 0 12px;
  -o-border-radius: 12px 0 0 12px;
}
.pricing .plans .plan h3 {
  font-size: 25px;
  font-weight: 500;
}
.pricing .plans .plan .price {
  padding: 20px 20px 10px 20px;
}
.pricing .plans .plan .price sup {
  font-size: 25px;
  margin-right: 4px;
}
.pricing .plans .plan .price sub {
  margin-left: 5px;
  font-size: 16px;
  color: var(--mute-text);
}
.pricing .plans .plan .price span {
  font-size: 35px;
  font-weight: 900;
}
.pricing .plans .plan p {
  padding-bottom: 30px;
  font-size: 18px;
  color: var(--mute-text);
  border-bottom: 1px solid #eee;
}
.pricing .plans ul {
  padding-top: 20px;
  padding-bottom: 30px;
}
.pricing .plans .plan ul li i {
  color: green;
  background-color: rgb(51 201 86 / 30%);
  font-size: 16px;
  padding: 7px;
  margin-right: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.pricing .plans .plan ul li {
  margin-bottom: 15px;
}
.pricing .plans .plan ul li span {
  font-size: 18px;
  font-weight: 500;
}
.pricing .plans .plan:first-child .btn button,
.pricing .plans .plan:last-child .btn button {
  background-color: var(--white);
  color: var(--blue);
  border: 2px solid #ddd;
}

/* --------Sponsors */

.sponsors {
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-color: var(--white);
}

.sponsors .heading {
  text-align: center;
  margin-bottom: 40px;
}
.sponsors .heading h2 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 3rem;
}

.sponsors .sponsor {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.sponsors .sponsor_2 {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.sponsors .sponsor .box,
.sponsors .sponsor_2 .box {
  box-shadow: 0 0 12px #ddd;
  width: 100px;
  padding: 25px;
  border-radius: 12px;
}
@media (max-width: 768px) {
  .sponsors .sponsor {
    grid-template-columns: repeat(3, 1fr);
  }
  .sponsors .heading h2 {
    font-size: 2rem;
  }

  .sponsors .heading p {
    font-size: 16px;
  }
  .sponsors .sponsor .box,
  .sponsors .sponsor_2 .box {
    width: 80px;
  }
}
/* ----------Footer*/
.footer .container {
  padding-bottom: 40px;
}
.footer .info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  padding-bottom: 70px;
  border-bottom: 2px solid #ddd;
}

@media (max-width: 768px) {
  .footer .info {
    justify-items: flex-start;
  }
  .footer .download_app {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
  }
  .footer .info {
    justify-items: center;
  }
  .footer .info .box {
    margin-bottom: 30px;
    text-align: center;
  }
  .footer .info .box.main_info .name {
    justify-content: center !important;
  }
  .footer .info .box.main_info > a {
    justify-content: center;
  }
  .footer .info .box.main_info .apps {
    justify-content: center !important;
  }
}
.footer .info .box {
  padding: 10px;
  color: var(--mute-text);
}

.footer .info .links {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.footer .info .box.main_info {
  max-width: 300px;
}
.footer .info .box.main_info .name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 26px;
  gap: 12px;
}
.footer .info .box.main_info .name h4 {
  font-size: 30px;
  color: var(--blue);
  font-weight: 900;
}
.footer .info .box.main_info .name img {
  width: 35px;
  height: 35px;
}
.footer .info .box.main_info p {
  margin-bottom: 18px;
}
.footer .info .box.main_info > a {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--blue);
  margin-bottom: 30px;
}
.footer .info .box.main_info a span {
  display: flex;
  color: var(--mute-text);
}
.footer .info .box.main_info .apps {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.footer .info .box.main_info .apps span {
  background-color: var(--white);
  color: var(--blue);
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 10px #ddd;
  font-size: 18px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.footer .info .box.main_info .apps span:hover {
  background-color: var(--red);
  color: var(--white);
  transition: var(--transition);
}

.footer .box h3 {
  color: var(--blue);
  margin-bottom: 20px;
  font-size: 22px;
}
.footer .box ul li {
  margin-bottom: 10px;
  transition: var(--transition);
}
.footer .box ul li:hover {
  transform: translateX(10px);
  transition: var(--transition);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}
.footer .box ul li a {
  color: var(--mute-text);
  font-size: 16px;
  font-weight: 500;
}
.footer .box.support ul li {
  margin-bottom: 15px;
}
.footer .box.support ul li {
  font-weight: 400;
}
.footer .box.support ul li span {
  margin-right: 8px;
  color: var(--red);
}

.footer .download_app {
  margin-top: 40px;
}
.footer .download_app p {
  color: var(--mute-text);
  font-size: 16px;
  font-weight: 500;
}
.footer .download_app .box {
  padding: 8px;
  color: var(--blue);
  border-radius: 12px;
  font-size: 14px;
  border: 2px solid #ddd;
  cursor: pointer;
}
.footer .download_app .box.ios {
  background-color: var(--white);
}
.footer .download_app .box i {
  font-size: 20px;
}
.footer .download_app .box span {
  font-weight: 500;
  font-size: 15px;
}

.footer .download_app .box:hover {
  background-color: var(--blue);
  color: var(--white);
  transition: var(--transition);
}
