/* ---------1200 */
@media (max-width: 1200px) {
  .hero_image img {
    width: 500px;
  }
}

/* ---------1199 */
@media (max-width: 1199px) {
  .footer .info {
    justify-items: flex-start;
    gap: 30px;
  }
}

@media (max-width: 991px) {
  /* --------- */
  header nav {
    display: none;
  }
  /* --------- */
  .hero_image img {
    width: 400px;
  }
  .hero {
    height: 100%;
    padding: 80px 0;
  }
  /* --------- */
  .marketing img {
    display: none;
  }
  /* --------- */
  .features_2 .features_content {
    flex-direction: column;
    gap: 20px;
  }
  .features_2 .features_content .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .features_2 .features_content .image img {
    width: 80%;
  }
  /* --------- */
  .videos {
    flex-direction: column;
  }
  .videos .video {
    width: 100%;
  }
  .video img {
    width: 100%;
    height: 100%;
  }
  .video .how {
    padding: 30px 0;
  }
  .videos .slides {
    width: 100%;
    max-width: 100%;
  }
  .videos .slides img {
    width: 100%;
    max-width: 100%;
  }
}

/* ---------768 */
@media (max-width: 768px) {
  .heading h1 {
    font-size: 2rem;
  }
  .heading p {
    font-size: 16px;
  }
  /* --------- */
  .hero {
    align-items: flex-start;
    padding-top: 10px;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .hero_image img {
    width: 300px;
  }
  /* --------- */
  .work .titles {
    text-align: center;
    flex-direction: column;
    gap: 40px;
  }
  .work .box {
    text-align: center;
    padding: 10px 10px;
  }
  .work .box .icon {
    margin: 30px auto;
  }
  /* --------- */
  .marketing {
    margin: 40px auto;
  }
  .marketing .container_2 {
    height: 100%;
    padding: 0 15px;
  }
  .marketing .content h2 {
    font-size: 2rem;
  }
  .marketing .content {
    margin: 0;
  }
  .marketing .content > span,
  .marketing .content > h2,
  .marketing .content > p {
    text-align: center;
  }
  .marketing .list.flex-center {
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 40px;
  }
  .marketing .content .box_list {
    width: 100%;
  }
  /* --------- */
  .numbers .numbers_box {
    width: 85%;
  }
  .videos .arrows {
    display: none;
  }
  /* --------- */
  .download .system .box {
    padding: 8px 10px;
    font-size: 10px;
  }
  .download .content h2 {
    font-size: 2rem;
  }
  /* --------- */
  .sponsors .sponsor {
    grid-template-columns: repeat(3, 1fr);
  }
  .sponsors .heading h2 {
    font-size: 2rem;
  }

  .sponsors .heading p {
    font-size: 16px;
  }
  .sponsors .sponsor .box,
  .sponsors .sponsor_2 .box {
    width: 80px;
  }
  /* --------- */
  .footer .info {
    justify-items: flex-start;
  }
  .footer .download_app {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
  }
  .footer .info {
    justify-items: center;
  }
  .footer .info .box {
    margin-bottom: 30px;
    text-align: center;
  }
  .footer .info .box.main_info .name {
    justify-content: center !important;
  }
  .footer .info .box.main_info > a {
    justify-content: center;
  }
  .footer .info .box.main_info .apps {
    justify-content: center !important;
  }
}

/* ---------540*/
@media (max-width: 540px) {
  .hero {
    height: 100%;
    padding: 80px 0;
  }
  .hero_image img {
    display: none;
  }
  .content .input_form {
    width: 85%;
  }
}

/* ---------375 */
@media (max-width: 375px) {
  .btn button {
    padding: 10px 15px;
  }
}
